body{
font-family: Arial;
margin:0;
background:#0f0f0f;
color:white;
}

header{
background:#001f5c;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

nav a{
color:white;
margin-left:15px;
text-decoration:none;
}

.banner{
padding:60px;
background:#222;
text-align:center;
}

.section-title{
margin-left:20px;
}

.row{
display:flex;
gap:20px;
padding:20px;
}

.card{
background:#1e1e1e;
padding:30px;
border-radius:8px;
width:200px;
}

.channels{
display:flex;
flex-wrap:wrap;
gap:15px;
padding:20px;
}

.channel{
background:#333;
padding:20px;
border-radius:6px;
}
